@font-face {
  font-family: Lato;
  src: local(Lato-Regular), url(../fonts/4118-font.ttf);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

html,
body,
main {
  font-family: Lato;
}
