@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Lato"), url("/fonts/Lato/Lato-Regular.ttf") format("ttf");
}

html,
body,
main {
  font-family: "Lato";
}
