@import "./variables.scss";

.image--title_big--image {
  height: 369px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (max-width: 768px) {
    height: 200px;
  }
}

.image--title_rectangle {
  height: 45px;
  background-color: $title_rectangle;
}

.image--title_container {
  margin-top: -120px;
  .image--title_title {
    padding: 36px 10% 24px 10%;
    background-color: $text_color;

    @media (max-width: 768px) {
      padding: 15px;
    }

    h2 {
      color: $title_rectangle;
    }
  }

  .image--title_breadcrumbs {
    padding: 15px 0 20px 0;
  }
}
