header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;

  .logo {
    img {
      max-height: 60px;
    }
  }

  .links {
    display: flex;

    .dropdown {
      margin-right: 10px;
      .btn {
        background-color: #fff;
        border: none;
        color: #000;
      }
      .dropdown-menu {
        border-top: 10px solid #fdb414;

        :hover {
          background-color: #fdb414;
        }
      }
    }

    .burger-menu {
      display: none;
    }
  }

  @media (max-width: 1440px) {
    .links {
      .dropdown {
        margin-right: 7px;
      }
    }
  }
  @media (max-width: 992px) {
    .links {
      .dropdown {
        display: none;
      }
      .burger-menu {
        display: block;
        padding-right: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 10px 20px;
    .logo {
      img {
        max-height: 40px;
      }
    }
  }
}
