.top_header {
  background-color: #303b42;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;

  .link_group {
    display: flex;
    padding-right: 40px;
    align-items: center;

    .link {
      display: flex;
      padding: 20px;

      span,
      button {
        background-color: #303b42;
        border: none;
        font-size: 13px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        padding-left: 6px;
      }
    }
    // @media (max-width: 670px) {
    //   padding-right: 0px;
    // }
  }

  .social_link_group {
    display: flex;
    padding-right: 40px;
    align-items: center;

    img {
      padding: 0 10px;
    }

    // @media (max-width: 670px) {
    //   display: none;
    // }
  }

  .modal {
    color: #000;

    .modal-dialog {
      .modal-content {
        background-color: #f9f9fa;

        .modal-header {
          .modal-title {
            display: flex;
            align-items: center;
            img {
              font-size: 28px;
              height: 28px;
              width: 28px;
            }

            span {
              font-size: 30px;
              font-weight: bold;
              color: #333;
              padding-left: 10px;
            }
          }
        }
        .modal-body {
          .locations-list {
            background-color: #fff;
            border: 1px solid #efefef;

            .location {
              padding: 20px 40px;
              display: flex;
              border-bottom: 1px solid #efefef;

              span {
                flex: 1;
                font-size: 16px;
                font-weight: normal;
                color: #333;
              }
            }

            .title-location {
              span {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 670px) {
  .top_header {
    justify-content: center;

    .link_group {
      padding-right: 0px;

      .link {
        span {
          font-size: 12px;
        }
      }
    }
    .social_link_group {
      display: none;
    }
  }
}
